@import './variables';
@import './mixins';
@import './animations';

// @keyframes fadeUp {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }

// @keyframes moveUp {
//     from {margin-top: 2em;}
//     to {margin-top: 0;}
// }

.page-index {
    &.grid-wrapper {
        // demo from web
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);

        @media (max-width: 640px) {
            grid-template: initial;
        }
    }

    a {
        text-decoration: none;
        // &:nth-child(1) {
        //     visibility: hidden;
        // }

        @for $i from 1 through 24 {
               
            &:nth-child(#{$i}) {
                // animation-delay: #{($i * 1000)}ms;
                // visibility: hidden;
                // margin: ;

                .post-thumbnail {
                    animation-delay: #{($i * 26)}ms, #{($i * 30)}ms;
                }
            }
         }

        .post-thumbnail {
            position: relative;
            background-color: #fff;
            // height: 100%;
            height: 200px;
            overflow: hidden;
            border: .75em solid #fff;
            transition: 200ms border ease-in-out, 200ms transform ease-in-out;
            animation-name: fadeUp, moveUp;
            animation-duration: 600ms, 400ms;
            animation-timing-function: ease-in-out, ease-in-out;
            animation-fill-mode: forwards;  
            opacity: 0;
            

            

            &:hover {
                // @include med-box-shadow;
                border: .75em solid $color-light;
                transform: scale(1.04);
            }

            img {
                margin: 0;
                overflow: hidden;
            }

            .post-thumbnail-title {
                position: absolute;
                color: #000;
                font-weight: 400;
                bottom: 0;
                margin: 0;
                color: #fff;
                background-color: rgba(0,0,0,.75);
                padding: 1em;
                width: 100%;
            }
        }
        
    }
}