body {
    background-color: #303030;
}

.site-header {
    line-height: 0;
    display: block;

    // a {
    //     line-height: initial;
    // }
}


.site-content {
    background-color: #303030;
    max-width: 1000px;
}