@import './variables';

body {
    font-family: $font-family-primary;
}

.site-content.post {
    padding-top: 0; 

    .post-wrapper {
        background-color: #fff;
        padding: 2em 4em;
        margin: 0 70px;

        @media (max-width: 900px) {
            margin: 0;
        }

        @media (max-width: 640px) {
            padding: 2em 1em;
            // margin: 0;
        }

        h1 {
            font-size: 2rem;
            line-height: 1.1;
        }
    }

    .post-timestamp {
        margin: 1em 0;
        color: #555;

        time {
            margin-left: .5em;
        }
    }

   
}